@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FADCDC;
    background: linear-gradient(300deg, #FADCDC, #F09292);
}

.container {
    background-color: white;
    padding: 1.5rem;
    border-radius: 1.7rem;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 70vw;
    margin: 2rem;
}

.container > h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
}

.balance-container {
    background: linear-gradient(127deg, #ECDECB, #C49C67);
    border-radius: 1rem;
    padding: 1rem;
}

.balance-container > h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.remaining-balance {
    font-size: 3rem;
    font-weight: 600;
}

.in-ex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.in-ex-divs {
    background-color: white;
    width: 49%;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: transform 0.2s;
}

.in-ex-divs:hover {
    transform: translateY(-1.5px);
}

.in-ex-divs > p {
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.in-ex-divs > div {
    font-size: 1.7rem;
    font-weight: 670;
}

.income-div {
    color: #249D8F;
}

.expense-div {
    color: #DB1A1A;
}

.transaction {
    display: flex;
    margin-top: 1.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    gap: 1.6rem;
}

.transaction > div {
    width: 50%;
}

.transaction-container {
    text-align: left;
}

.transaction-list-div {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 50vh;
}

/* .transaction-list-div::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
} */
/* Manipulate the scrollBar */

.transaction-container > h2 {
    font-weight: 550;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.transaction-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    background-color: white;
    width: 99%;
    padding: 0.7rem;
    margin-bottom: 0.3rem;
    border-radius: 0.6rem;
    border-bottom: 0.01px solid #C5C1C150;
}

.transaction-list:hover {
    transform: translateX(2px);
    box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.08);
}

.transaction-income {
    border-right: 5px solid #249D8F;
}

.transaction-expense {
    border-right: 5px solid #DB1A1A;
}

.transaction-list button {
    font-weight: 800;
    font-size: 0.9rem;
    border-radius: 0.3rem;
    margin-left: 0.8rem;
    border: none;
    padding: 0.5rem;
    color: #DB1A1A;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s;

    visibility: hidden;
    transition: visibility 0.01s;
}

.transaction-list button:hover {
    background-color: #DB1A1A15;
}

.transaction-list:hover button {
    visibility: visible;
}

.add-transaction {
    text-align: left;
    background-color: #d3d3d330;
    border-radius: 0.9rem;
    padding: 1.4rem;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.15);
    max-height: 410px;
    display: flex;
    flex-direction: column;
}

.add-transaction > h2 {
    font-weight: 450;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

form h4 {
    font-size: 0.9rem;
    font-weight: 450;
}

form input {
    border: 1px solid #80808060;
    padding: 0.6rem;
    border-radius: 0.3rem;
    width: 100%;
    margin: 0.5rem;
    font-size: 1rem;
}

form input:focus {
    border-color: #007bff40;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.amount > p {
    font-size: 0.8rem;
    color: #000000aa;
}

.amount {
    margin-bottom: 1rem;
}

#add-transaction-btn {
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 520;
    background-color: #b57e56;
    color: #fff;
    border: none;
    border-radius: 7px;
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: auto;
    cursor: pointer;
    transition: transform 0.1s;
}

#add-transaction-btn:hover {
    transform: translateY(-1.5px);
}

#add-transaction-btn:active {
    transform: translateY(1.5px);
}


/* Canva Color Pallete: https://www.canva.com/colors/color-palettes/little-princess/ */