* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
}

#outer_box {
    background-color: #E1E5F2;
    color: #022B3A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0.08rem solid black;
    border-radius: 0.8rem;
    padding: 3.5rem 2rem 3.5rem 2rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#heading {
    font-size: 3rem;
}

#para {
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#start_button {
    background-color: #28A0B8;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.08rem solid black;
    cursor: pointer;
    font-size: 1.2rem;
}

#start_button:hover {
    scale: 1.02;
}

#inner_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0.6rem;
}

.option_box {
    width: 90%;
    background-color: #BFDBF7;
    padding: 0.7rem;
    border: 0.3px solid #1F7A8C;
    border-radius: 0.5rem;
}

.option_box:hover {
    background-color: #A4CCF4; 
}


#score_board {
    text-align: center;
    line-height: 2.8rem;
    background-color: #C5CDE7;
    border-radius: 0.5rem;
    width: 90%;
    padding: 1.5rem 0.3rem 1.5rem 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* Coolers: https://coolors.co/022b3a-1f7a8c-bfdbf7-e1e5f2-f5f5f5 */