* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #EFF1F3;
}

.text {
    height: 20vh;
    width: 32vw;
    font-size: 6rem;
    text-align: center;
    line-height: 20vh;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: #DBD3D8;
}

button {
    font-size: 7rem;
    height: 15vh;
    width: 15vh;
    line-height: 15vh;
    text-align: center;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: #D8B4A0;
    margin: 3vh 0.5vw;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #E1C6B7;
}

#equal {
    background-color: #D8B4A0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    width: 32vw;
    margin: 3vh auto;
    padding: 0.7rem;
    border: 2px solid black;
    border-radius: 1rem;
}

#equal:hover {
    background-color: #E1C6B7;
}

#output {
    margin: 3vh auto;
    width: 70vw;
}
