* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2FBE0;
}

#counting {
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DAFEB7;
    padding: 1rem;
}

#buttons {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

#increase {
    font-size: 5rem;
    border: none;
    background-color: #ACC18A;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

#increase:hover {
    transform: scale(1.04);
    cursor: pointer;
}

#decrease {
    font-size: 5rem;
    border: none;
    background-color: #ACC18A;
    padding-bottom: 0.7rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

#decrease:hover {
    transform: scale(1.04);
    cursor: pointer;
}

#reset-div {
    height: 6rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset-btn {
    font-size: 3rem;
    border: none;
    background-color: #837A75;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

#reset-btn:hover {
    transform: scale(1.04);
    cursor: pointer;
}