* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: royalblue;
    color: white;
    height: 5rem;
    line-height: 5rem;
    font-size: 3.7rem;
}

.choice {
    height: 210px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.choice:hover {
    cursor: pointer;
    background-color: black;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}

.score-board {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    font-size: 2.7rem;
    font-weight: 550;
}

#user-score, #comp-score {
    font-size: 4rem;
}

#msg {
    margin-top: 4rem;
    background-color: royalblue;
    color: white;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid black;
}